$turquoise: #00A99D;
$textColour: #272727;
$deepRed: #581814;
$crimsonText: "Crimson Text", serif;

$mobileTopBarMaxWidth: 900px;
$mobileLayoutMaxWidth: 800px; // needs to be changed in layout.scss too for now
$mobileTopBarHeight: 60px;

$desktopTopBarHeight: 91px;
