$mainGreen: #67c900;
$veryDarkGrey: #2d2d2d;
$veryPaleYellow: #ffffe6;
$cementGray: #4d4d4d;
$lightGrey: #e8e8e8;
$darkGreen: #1d835b;
$veryLightGrey: #dcdcdc;

$lato: 'Lato', sans-serif;

//$margin: 50px;
$sideBarEdgeWidth: 0px;
$sideBarBorderColour: #373737;

$mobileLayoutMaxWidth: 600px;
$mobileLayoutMaxHeight: 600px;

$editMobileWidth: 400px;

//These values should match values in layout until I sort it out
$mobileTopBarMaxWidth: 600px;
$mobileTopBarMaxHeight: 600px;

$twitterBlue: #1DA1F2;
$facebookBlue: #3B5998;