@import "constants";
@import '../bundles/common/scss/_mixins';

.green {
  background-color: #7b9f01;
}

.clubHouse {
  background-color: #69a1dd;
}


.block-calendar {

  .fc-toolbar-title {
    font-size: 20px;
    position: relative;
    top: 5px;
  }

  .fc .fc-timegrid-col.fc-day-today {
    background-color: darken(white, 6%);
  }
}


#bookingFormModal {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  //display: flex;
  align-items: center;
  justify-content: center;

  #bookingFormModalInner {
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    width: 95%;
    max-width: 500px;

    form {

      #timeTo {
        margin-left: 5px;
        margin-right: 5px;
      }

      .timeInput {
        width: 45px;
        display: inline-block;
        padding-left: 2px;
        padding-right: 2px;
        margin-bottom: 9px;
      }

      #bookingFormHeading {
        margin-bottom: 20px;
      }

      #bookingStartTime, #bookingEndTime, #bookingDay {
        display: inline-block;
        font-weight: 600;
      }

      width: 100%;

      select {
        margin-top: 10px;
      }

      #locationSelector{
        margin-top: 0;
      }

      label {
        margin-top: 10px;
      }

      textarea {
        width: 100%;
      }

      button {
        width: 100px;
        display: inline-block;
        float: right;
        margin-top: 10px;
      }

      #bookingFormSubmitButton {
        margin-left: 10px;
      }

      #cancelCross {
        //color: red;
        //font-size: 20px;
        margin-left: 5px;
      }
    }
  }
}


// same width as mobile menu for now
@media (max-width: $mobileLayoutMaxWidth) {

  #bookingFormModal {

    #bookingFormModalInner {
      padding: 5vw;
    }
  }
}
