@import "constants";

.block {

  form {

    width: 100%;

    .form-control:focus {
      border-color: $darkGreen;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 214, 0, .6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 214, 0, .6);
    }

    button{
      border: none;
      //border: solid transparent 1px;
      background-color: $darkGreen;
      color: $veryDarkGrey;
      font-size: 26px;
      display: block;
      margin-left: auto;
      margin-right: auto;

      &:hover{
        background-color: lighten($darkGreen, 10%);
        border: none;
      }
    }
  }
}

