@import "constants";
@import '../bundles/common/scss/_mixins';


body {
  padding-top: 0 !important;
}


#menuSlider {
  //@include translateZ(0);
  // translated menu slider seems to mean that fixed
  // rows now take it's width as 100%
  // Bet that's not the same on all browsers!!!
}


#menuLayout {

  position: fixed;
  top: 0px;
  left: 100%;
  height: 100%;
  //width: 33vw;
  width: 300px;

  background-color: $darkGreen;

  z-index: 1000;
}

#topBarGroupLogoWrapper {

  cursor: pointer;

  //& > *{
  //  pointer: cursor;
  //}
}


@media only screen and (max-width: $mobileTopBarMaxWidth), screen and (max-height: $mobileTopBarMaxHeight) {

  #menuLayout {
    display: none;
  }
}
