@import "constants";
@import '../bundles/common/scss/_mixins';


$topBarTopHeight: 80px;
$mobileTopBarHeight: 60px;
//$topBarBottomHeight: 50px;
//$topBarTotalHeight: 99px;

$mainLogoMarginLeft: 20px;
$mainLogoMarginTop: 6px;

$topBarOpacity: 1;

body {
  //padding-top: $topBarTopHeight;
}

#bodyInner {
  height: 100%;
  background-color: white;
}

#mainLogoWrapper{

  cursor: pointer;

  #mainLogo{
    height: 50px;
    margin-top: -2px;
  }
}


#topBarLine {
  width: 100%;
  position: fixed;
  z-index: 1001;
  border: black solid .5px;
  top: 52px;
  right: 0px;
  opacity: 0;
}


#desktopTopBar {

  background-color: rgba(255,255,255,$topBarOpacity);
  height: $topBarTopHeight;
  position: fixed;
  border-bottom: solid $mainGreen 3px;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

#topBarLeftLinks {

  display: inline-block;
  position: fixed;
  height: $topBarTopHeight;
  top: 0px;

  display: table;

  padding-left: 8%;

  #topBarLeftInner {
    display: table-cell;
    vertical-align: middle;
  }
}

#topBarRight {

  position: fixed;
  height: $topBarTopHeight;
  right: 0;
  top: 0px;
  z-index: 1001;
  display: table;
  padding-right: 8%;

  #topBarRightInner {

    display: table-cell;
    vertical-align: middle;
  }

  a{
    font-weight: 700;
    color: $darkGreen;
    font-size: 16px;
    padding: 0 23px;
    cursor: pointer;

    position: relative;
    left: 23px; // compensate for padding on end link

    &:hover{
      color: $mainGreen;
    }
  }
}


#mobileTopBarWrapper {
  display: none;
}

#mobileTopBarMediaCheck {
  float: none;
}

.menuToggle {

  display: none;
  position: fixed;
  right: 2%;
  top: 30px;
  width: 25px;
  cursor: pointer;
  z-index: 1000;

  .menuToggleLine {

    width: 100%;
    border-top: 2px $darkGreen solid;
    margin-bottom: 6px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 1100px) {

  #topBarRight {
    padding-right: 2%;
  }

  #topBarLeftLinks {

    padding-left: 2%;
  }
}

@media only screen and (max-width: 950px) {

  #topBarRight{
    display: none;
  }

  #sideBarToggle{
    display: block;
  }
}


@mixin topBarMobileLayout{

    #topBarHomeLink, #sideBarToggle {
      display: none;
    }

    body {
      padding-top: 0px !important;
    }

    #mobileTopBarMediaCheck {
      float: left;
    }

    #desktopTopBar {
      display: none;
    }

    #mobileMenuToggle{

      display: block;
      top: 20px;
      right: 20px;
      position: absolute;

      .menuToggleLine{
        border-color: white;
      }
    }

    #mobileTopBarWrapper {
      display: block;

      #mobileSocialWrapper {
        @include flexbox();
      }

      #mobileLogoWrapper {
        position: absolute;
        left: 10px;
        top:10px;

        #mobileLogo{
          height: 40px;
        }
      }

      #mobileTopBar {
        background-color: $darkGreen;
        height: $mobileTopBarHeight;
      }

      #mobileMenuLinks {

        display: none;

        border-top: solid white 1px;
        border-bottom: solid white 1px;
        background-color: $mainGreen;

        font-size: 18px;
        position: absolute;
        top: $mobileTopBarHeight;
        width: 100%;

        .mobileMenuLink {
          display: block;
          margin-left: 0;
          text-align: center;
          padding: 10px 0;
          color: white !important;

          border-bottom: solid white 1px;

          &.lastOfSection {
            border-bottom: none !important;
          }
        }
      }

      #mobileTopBarLogoText {
        margin-top: $mainLogoMarginTop;
        margin-left: $mainLogoMarginLeft;
      }
    }

    #topBarRightInner {
      display: none !important;
    }

    #menuSlider {
      position: relative;
      background-color: #fff;
    }
}

html.editMobile{

  @include topBarMobileLayout();

  #mobileTopBarWrapper{
    width: $editMobileWidth;
    position: relative;
  }

  //#mobileMenuToggle{
  //
  //  display: block;
  //  top: 20px;
  //  right: 20px;
  //
  //  .menuToggleLine{
  //    border-color: white;
  //  }
  //}
}


@media only screen and (max-width: $mobileTopBarMaxWidth), screen and (max-height: $mobileTopBarMaxHeight)
{
  @include topBarMobileLayout();
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}