<div class="mobileFlexRow">
    <div><img src="/images/uploaded/c1cbfd99171beb82f71add6f14b4e85a.svg"></div>
    <div class="mobileFlex2" style="font-size: 16px;" >Monthly short term taxi insurance</div>
</div>