{% extends '@Common/base.html.twig' %}

{% block body %}

    {% if globals.pageId != 'footer-edit' and globals.pageId != 'menu-edit' %}
        {% include('@Common/layout.html.twig') %}
    {% endif %}

    <div id="bookingFormModal">
        <div id="bookingFormModalInner">
            <form>
                <div id="bookingFormHeading">
                    Request booking from
                    <div id="bookingStartTime"></div>
                    to
                    <div id="bookingEndTime"></div>
                    on
                    <div id="bookingDay"></div>
                </div>

                <select class="form-control">
                    <option value="">- Select Location -</option>
                    <option value="">Clubhouse</option>
                    <option value="">Bowling Green</option>
                    <option value="">Clubhouse + Bowling Green</option>
                </select>
                <label for="">Name of Organization/Individual</label>
                <input class="form-control" >
                <label for="">What do you need the facility for</label>
                <textarea class="form-control" rows="10"></textarea>
                <button id="submitButton" class="form-control btn btn-primary" type="submit">SUBMIT</button>
                <button id="bookingFormCancelButton" class="form-control btn btn-default" >CANCEL<span id="cancelCross">❌</span></button>
            </form>

        </div>
    </div>

{% endblock %}

{# {% block headPage %} #}

{# {% endblock %} #}

{# {% block javascripts %} #}

{# {% endblock %} #}
