{% extends '@Common/base.html.twig' %}

{% block body %}

    {% if globals.pageId != 'footer-edit' and globals.pageId != 'menu-edit' %}
        {% include('@Common/layout.html.twig') %}
    {% endif %}

    <div id="bookingFormModal">
        <div id="bookingFormModalInner">
            <form>
                <div id="bookingFormHeading">
                    Request booking from<br>
                    <select class="form-control timeInput" id="bookingStartTimeHours"></select>:
                    <select class="form-control timeInput" id="bookingStartTimeMins"></select>
                    <span id="timeTo">to</span>
                    <select class="form-control timeInput" id="bookingEndTimeHours"></select>:
                    <select class="form-control timeInput" id="bookingEndTimeMins"></select>
                    <br>
                    <span>on</span>
                    <div id="bookingDay"></div>
                </div>

                <label for="">Location</label>
                <select id="locationSelector" class="form-control">
                    <option value="">- Select Location -</option>
                    <option value="clubhouse">Clubhouse</option>
                    <option value="green">Bowling Green</option>
                    <option value="both">Clubhouse + Bowling Green</option>
                </select>
                <label for="">Name of Organization/Individual</label>
                <input id="organizationName" class="form-control" value="">
                <label for="">Email</label>
                <input id="email" class="form-control" value="">
                <label for="">What do you need the facility for?</label>
                <textarea id="reasonForBooking" class="form-control" rows="10"></textarea>
                <button id="bookingFormSubmitButton" class="form-control btn btn-primary" type="submit">SUBMIT</button>
                <button id="bookingFormCancelButton" class="form-control btn btn-default">CANCEL<span id="cancelCross">❌</span></button>
            </form>

        </div>
    </div>

{% endblock %}

{# {% block headPage %} #}

{# {% endblock %} #}

{# {% block javascripts %} #}

{# {% endblock %} #}
