{% if globals.pageId == 'book-online' %}

    <div id="bookOnlineMobileMenu" class="bookOnlineMenu" ></div>

{% endif %}

{#<a class="topBarLink" href="{{ path('fareCalculator') }}">{% trans %}Fare Calculator{% endtrans %}</a>#}

{#<br>#}
{#<a href="blue-media" class="topBarLink" >BLUEMEDIA</a>#}

<div id="mobileSocialWrapper">
    <a class="mobileMenuSocial fb" style="color: white;" href="https://www.facebook.com/BluelineNewcastle"><i class="fa fa-facebook"></i></a> <a class="mobileMenuSocial twitter" style="color: white;" href="https://twitter.com/bluelinencl"><i class="fa fa-twitter"></i></a>
</div>

{#<a class="topBarLinkSocial" href="https://www.facebook.com/BluelineNewcastle" ><i class="demo-icon icon-facebook-circled"></i></a>#}
{#<a class="topBarLinkSocial" href="https://twitter.com/bluelinencl" ><i class="demo-icon icon-twitter-circled"></i></a>#}