{#SWF#}
<div class="cordicWrap">
    <quote-widget-element websiteurl="http://www.happicabsonline.com/consumerswf"
                          redirecturl="http://www.happicabsonline.com/consumerswf">
    </quote-widget-element>
</div>