{% set albums = [] %}

{% if 'activity-article' == globals.pageId %}

    {% set id =  app.request.get('articleId') %}
    {% set type =  app.request.get('articleType') %}

    {% set activity = articleManager.articleGetByID(type, id) %}

    {% for albumId in activity.albums %}

        {% set album = articleManager.articleGetByID('album', albumId) %}

        {# Album can be deleted #}
        {% if album is not null %}

            {% set albums = albums | merge([album]) %}

        {% endif %}

    {% endfor %}

{% else %}

    {% set albums = articleManager.allArticlesOfTypeGet('album') %}

{% endif %}


{% for album in albums %}

    <div class="albumTitle">{{ album.title }}</div>

    <div class="albumPhotos">
        <div class="albumPhotosInner">

            {% for image in album.images %}

                {% set url = globals.uploadedImageWebPathGet(image) %}

                {% set filteredUrl = url | imagine_filter('galleryThumb') %}

                <div class="col-xs-3 imageColumn">
                    <a data-lightbox="{{ album.title }}" href="{{ filteredUrl }}">
                        <div class="albumImage" style="background-image: url({{ url }});">

                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endfor %}