<table>
    <tr class="headRow">
        <th>Passengers</th>
        <th>Date and Times Active</th>
        <th>1st Mile</th>
        <th>Each Mile Afterwards</th>
        <th>Every 40 seconds wait</th>
    </tr>
    <tr>
        <td>Up to 4 Passengers</td>
        <td>BLT 1: 6am to 10m Mon-Fri including Sun</td>
        <td>£3.00</td>
        <td>£1.60</td>
        <td>£0.20</td>
    </tr>
    <tr>
        <td>5-8 Passengers</td>
        <td>MPV Day: 6am to 10pm Mon-Fri including Sun</td>
        <td>£5.00</td>
        <td>£2.10</td>
        <td>£0.30</td>
    </tr>
    <tr>
        <td>Up to 4 Passengers</td>
        <td>BLT 2: 10pm to 6am Mon-Thurs including Sun</td>
        <td>£3.00</td>
        <td>£1.70</td>
        <td>£0.20</td>
    </tr>
    <tr>
        <td>5-8 Passengers</td>
        <td>MPV Night: 10pm to 6am Mon-Thurs including Sun</td>
        <td>£5.00</td>
        <td>£2.20</td>
        <td>£0.30</td>
    </tr>
    <tr>
        <td>Up to 4 Passengers</td>
        <td>BLT 3: Friday & Saturday Night 10pm to 6am</td>
        <td>£3.50</td>
        <td>£1.80</td>
        <td>£0.20</td>
    </tr>
    <tr>
        <td>5-8 Passengers</td>
        <td>MPV Weekend: Friday & Saturday Night 10pm to 6am</td>
        <td>£6.00</td>
        <td>£2.30</td>
        <td>£0.30</td>
    </tr>
</table>